
.sectionContainer{
  background-color:whitesmoke ;
  height: auto;
  min-height: 50vh;
  max-height: 100%;
  width: 100vw;
  display: grid;
  
  .imageContainer{
    position: relative;
    opacity: 0.7;
    width:auto;
    min-height: calc(100vh - $headerHeight);
    img{object-fit: cover; }
  }

 
  h2{
    // margin:50px;
    padding:3px;
    margin:6px;
    display: flex;
    align-items: center;
  }
  p{
    text-align: justify;
    padding:4%;
  }
  button{
    margin:5px;
    bottom: 10px;
    right:5px;
    background-color:$redSapem;
    // border:solid black 1Px;
    box-sizing: border-box;

    color:white;
    float:right;
    justify-self: flex-end;
    margin:30px
  }
  
   .contentContainer{
    display:flex;
    flex-flow: column;
    align-items: baseline;
    background: linear-gradient(to top left, lightgray, white 100%);
    width: 100vw;
    min-height: 50vh;


  }
}

