
.sectionContainer{
  background-color:whitesmoke ;
  height: auto;
  min-height: 50vh;
  max-height: 100%;
  display: flex;

  .imageContainer{
    position: relative;
    opacity: 0.7;
    width:auto;
    min-height: calc(100vh - $headerHeight);
    image{object-fit: cover;
  }
  }
  
  &:is(:nth-child(2n+1)){
    .contentContainer{
      background-color:$redSapem;
      button{ 
        color:$redSapem; 
        background: linear-gradient(3deg, whitesmoke 90%, whiteSmoke 100%);
      }
      h2{

    border-bottom:solid whitesmoke 2px
      }
      
    }
  
    
    color:white
  }
.contentContainer{
  display:grid;
  flex-flow: column;
  // min-width: 500px;
  padding:20px;

  h2{ 
    justify-self: flex-start;
    display: flex;
    align-items: center;

    padding:0 55px 0px 0px;
    margin-bottom: 15px; 
    border-bottom:solid $redSapem 2px
  }
  
  p{
    text-align: justify;
  }
  button{
    justify-self: flex-end;
    align-self: flex-end;
    margin:3%;
    color:white;
    background: linear-gradient(3deg, $redSapem 90%, $redSapem 100%);
  }
}
  
}