@import './homePageSection.scss';

  .trustingBrands{
  display: flex;
  // justify-content: center;
  flex-flow: column;
  align-items: center;
  background-color: $redSapem;
  h2{
    text-align: center;
    margin:10px 0 40px 0;
    padding: 0 30px;
    margin:auto
  }

}

.brandsList{
  display: flex;
  flex-flow: wrap;
  justify-content: space-around;
  min-width: 80%;
  padding:2%;

  *{margin:2%; }
}
