//VARIABLES
$headerHeight: 60px;
$primary: rgb(13, 105, 170);
$secondary: #fda12e;
$breakPointMobile: 600px;

:export {
  headerHeight: $headerHeight;
  primary: $primary;
  secondary: $secondary;
  breakPointMobile: $breakPointMobile;
}
