

.container_Footer {
  display: grid;
  grid-template-columns: 1fr repeat(3, auto) 2fr;
  h3{ align-self: center};
  *:not(svg) {
    font-size: 10px;
    color: white;
  }
}

.container_FooterContent {
  grid-column: 1/6;
  display: flex;
  justify-content: center;
  padding: 10px;
  @media (min-width: 768px) {
    // flex-flow: column;
  }
  >* { margin: 15px 25px }
}

  .container_socialMediaRow {
    display: flex;
    justify-content: start;
    align-items: center;
  }

  .container_socialmedias {
    display: grid;
    grid-template-areas: 'title title title' 'icon icon icon';
    justify-content: center;
    h3 { grid-area: title; justify-self: center; align-self: flex-start; }
    >*:not(h3) { justify-self: center; margin:10px;}
  }

  .container_copyright {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    grid-column: 1 / 6;
  }

.cards {
  text-align: left;
  display: flex;
  flex-flow: column;

  h3 {
    text-align: center;
    width: 100%;
    margin-bottom: 15px;
  }
}

.socialMediaIcons {
  margin-right: 5px;
  color: white;
}