

  .mainContainerHeader {
    grid-area: header;
    position: sticky;
    max-height: 60px;
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: end;
    
    background-color: whitesmoke;
    box-shadow: 1px 1px 1px 1px grey;
    
    //flagSelect
    > :last-child * {
      z-index: 99999;
      height: auto;
      border: white;
      .ReactFlagsSelect-module_selectBtn__19wW7::after {
        margin-left: -3px;
        margin-top: 4px;
      }
      ul{margin-top:5px;}
    }

    .mobileMenuIcon {
      height: $headerHeight;
      margin: 0px;
    }
  }
 