{
  "presets": [
    [
      "next/babel",
      // {
      //   "preset-react": {
      //     "runtime": "automatic",
      //     "importSource": "@emotion/react"
      //   }
      // }
    ]
  ],
  "plugins": [
    "@emotion/babel-plugin",
    "babel-plugin-macros",
    [
      
      "module-resolver",
      {
        "root": ["./"],
        "alias": {
          "@components": "./src/components",
          "@api": "./src/api",
          "@models": "./src/models",
          "@screens": "./src/screens",
          "@hooks": "./src/hooks",
          "@services": "./src/services",
          "@constants": "./src/constants.js",
          "@context": "./src/context",
          "@queries": "./src/queries",
          "@data": "./src/data",
          "@typeDefs": "./src/types",
          "@assets": "./src/assets",
          "@utils": "./src/utils",
        }
      }
    ]  ]
}