@import 'variables';

  div[class^="Home_slogan"]  {
    h1{ position: absolute; visibility: hidden; font-size:4em;}
    
    @for $child from 1 to 4{
      $timing: $child - 1;
      :nth-child(#{$child}){
        @if $child == 3 {
          animation: 
          lastRemains 2s forwards #{$timing*$animationDelay},
          }
        @else{
            animation: 
            zoomIn $animationDelay linear #{$timing*$animationDelay},
            hideIt 4.5s linear #{$timing * $animationDelay},
          }
      }
    }}

    div[class^="Home_sideMenu"] {
    animation: slideInRight;
    animation-duration: 3s;
    >*{
    animation: fadeIn;
    animation-duration: 3s;
      
    }
  }


// KEYFRAMES
  @keyframes hideIt{
    from { opacity:1; visibility: visible; }
    #{unquote(#{$timingIn*100 / ( $timingIn + $timingOut)}) +'%'}  { opacity: 1 ; visibility: visible; } /* ignorée */  
    to   { opacity: 0; visibility:hidden }
    }

  @keyframes lastRemains{
    from   { opacity: 0; visibility:hidden }
    // 99%   { opacity: 0; visibility:hidden }
    to { opacity:1; visibility: visible; }
    }