.homeBackground{
  z-index: -10;
  opacity: 0.85;
  position: relative; 
}

.playerWrapper {
  position: relative;
  max-height: 500px;
  min-height: auto;
  padding-top: 16.25% /* Player ratio: 100 / (1280 / 720) */
}

.reactPlayer {
  position: absolute;
  top: 0;
  left: 0;
  width:100vw;
}